doctype html
html(lang="en")
  head
    title="CryptoTrackerBot-Website"
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    body
      h1 CryptoTrackerBot Webtracker
      #container.col
        p.
         Here you can track statistics about the Reddit Fantasy Trading game.
      #container.col
        p Highest value accounts
          ol
           li Ali
           li Claire
      #container.col
        p Most popular coins
          ol
           li BTC
           li XMR           